@tailwind base;
@tailwind components;
@tailwind utilities;
body { 
  background-image: url('/nnnoise.svg'); 
}
.header-blur {
  background: rgba(147, 143, 143, 0);

  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
