---
import LayoutNoGrid from "@/layouts/LayoutNoGrid.astro";
import Gallery from "@/components/Page/Gallery";
---

<LayoutNoGrid title="Galería">
  <div class="h-[120px] header-blur w-full z-10 fixed top-0"></div>
  <section class="w-[90%] mx-auto mt-28">
    <Gallery client:load />
  </section>
</LayoutNoGrid>
