---
import Layout from "@/layouts/LayoutNoGrid.astro";
import GaleriaAstro from "@/components/Galeria/GaleriaAstro.astro";
---

<Layout title="Galería">
  <div class="h-[120px] header-blur w-full z-10 fixed top-0"></div>
  <main class="container px-4 py-8 mx-auto mt-28">
    <h1 class="text-4xl font-bold text-center mb-12 text-logo-blue">
      Galería de Imágenes
    </h1>
    <GaleriaAstro />
  </main>
</Layout>
