---
import LayoutLanding from "../layouts/LayoutLanding.astro";
import "@/styles/global.css";
import Section from "@/components/Sections/Section.astro";
import DialogNovedades from "@/components/Dialogs/DialogNovedades";
import SectionHeader from "@/components/Sections/SectionHeader.astro";
import SectionFooter from "@/components/Sections/SectionFooter.astro";
import DialogDemo from "@/components/Dialogs/DialogDemo";
---

<LayoutLanding title="Argentinagro SRL de Trenque Lauquen">
  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-x-hidden overflow-y-auto scrollbar-hide"
  >
    <!-- HERO -->
    <SectionHeader color="black" id="#">
      <div
        slot="footer"
        class="flex flex-col px-6 justify-center gap-y-4 sm:flex-row sm:gap-x-6"
      >
        <DialogNovedades
          client:load
          className="text-sm py-2 px-12 border-[3px] border-black/5 rounded cursor-pointer hover:bg-black/90 hover:border-black/5 hover:backdrop-blur-3xl bg-black/60 text-white transition-all duration-300"
        >
          <span>Novedades</span>
        </DialogNovedades>

        <a
          class="text-sm py-2 px-12 border-[3px] border-white rounded cursor-pointer hover:bg-black/30 hover:border-gray-100/5 hover:backdrop-blur-3xl hover:text-white bg-white text-black transition-all duration-300"
          href="/servicios"><span>Servicios</span></a
        >
      </div>
      <video
        slot="background"
        muted
        src="video.webm"
        autoplay
        class="object-center object-cover h-full w-full"
        loop></video>
    </SectionHeader>
    <!-- Mostrar el diálogo cuando sea necesario -->
    <DialogDemo client:load />
    <!-- SIEMBRA AEREA -->
    <Section
      color="black"
      title="Siembra aérea"
      subtitle="Pioneros en la zona con 20 años de experiencia"
      id="siembra_aerea"
    >
      <div slot="footer">
        <a
          class="text-sm text-white py-2 px-12 border-[3px] border-white rounded cursor-pointer hover:bg-white/30 hover:border-white/5 hover:backdrop-blur-3xl active:bg-white active:text-black transition-all duration-300"
          href="/servicios/siembra_aerea"><span>Ver más</span></a
        >
      </div>
      <img
        transition:name="img-siembra_aerea"
        slot="background"
        class="object-center object-cover h-full w-full"
        src="avion1.jpg"
        alt="Siembra aerea"
      />
    </Section>
    <!-- SIEMBRA TERRESTRE -->
    <Section
      color="white"
      title="Siembra terrestre"
      subtitle="Contamos con 3 equipos de siembra de última tecnología"
      id="siembra_terrestre"
    >
      <div slot="footer">
        <a
          class="text-sm text-white py-2 px-12 border-[3px] border-white rounded cursor-pointer hover:bg-white/30 hover:border-white/5 hover:backdrop-blur-3xl active:bg-white active:text-black transition-all duration-300"
          href="/servicios/siembra_terrestre"><span>Ver más</span></a
        >
      </div>
      <img
        transition:name="img-siembra_terrestre"
        slot="background"
        class="object-top object-cover h-full w-full"
        src="siembra_terrestre2.jpg"
        alt="Siembra terrestre"
      />
    </Section>
    <!-- COSECHA -->
    <Section
      color="white"
      title="Cosecha"
      subtitle="Desde granos finos hasta cultivos especiales, contamos con la maquinaria y el equipo humano necesario"
      id="cosecha"
    >
      <div slot="footer">
        <a
          class="text-sm text-white py-2 px-12 border-[3px] border-white rounded cursor-pointer hover:bg-white/30 hover:border-white/5 hover:backdrop-blur-3xl active:bg-white active:text-black transition-all duration-300"
          href="/servicios/cosecha"><span>Ver más</span></a
        >
      </div>
      <img
        transition:name="img-cosecha"
        slot="background"
        class="object-center object-cover h-full w-full"
        src="cosechadoras.JPG"
        alt="cosecha"
      />
    </Section>
    <!-- FERTILIZACION -->
    <Section
      color="black"
      title="Fertilización"
      subtitle="Aplicamos los nutrientes que tus cultivos necesitan, donde los necesitan."
      id="fertilizacion"
    >
      <div slot="footer">
        <a
          class="text-sm text-white py-2 px-12 border-[3px] border-white rounded cursor-pointer hover:bg-white/30 hover:border-white/5 hover:backdrop-blur-3xl active:bg-white active:text-black transition-all duration-300"
          href="/servicios/fertilizacion"><span>Ver más</span></a
        >
      </div>
      <img
        transition:name="img-fertilizacion"
        slot="background"
        class="object-top object-cover h-full w-full"
        src="fertilizacion4.jpg"
        alt="fertilizacion"
      />
    </Section>
    <!-- PULVERIZACION AEREA -->
    <Section
      color="white"
      title="Pulverización aérea"
      subtitle="Maximiza tus rendimientos con una pulverización aérea precisa y oportuna."
      id="pulverizacion_aerea"
    >
      <div slot="footer">
        <a
          class="text-sm text-white py-2 px-12 border-[3px] border-white rounded cursor-pointer hover:bg-white/30 hover:border-white/5 hover:backdrop-blur-3xl active:bg-white active:text-black transition-all duration-300"
          href="/servicios/pulverizacion_aerea"><span>Ver más</span></a
        >
      </div>
      <img
        transition:name="img-pulverizacion_aerea"
        slot="background"
        class="object-center object-cover h-full w-full"
        src="pulverizacion_aerea.jpg"
        alt="pulverizacion_aerea"
      />
    </Section>
    <!-- PULVERIZACION TERRESTRE -->
    <Section
      color="black"
      title="Pulverización terrestre"
      id="pulverizacion_terrestre"
      subtitle="Confía en la precisión de nuestro sistema SIA para una pulverización óptima."
    >
      <div slot="footer">
        <a
          class="text-sm text-white py-2 px-12 border-[3px] border-white rounded cursor-pointer hover:bg-white/30 hover:border-white/5 hover:backdrop-blur-3xl active:bg-white active:text-black transition-all duration-300"
          href="/servicios/pulverizacion_terrestre"><span>Ver más</span></a
        >
      </div>
      <img
        transition:name="img-pulverizacion_terrestre"
        slot="background"
        class="object-center object-cover h-full w-full"
        src="pulverizacion_terrestre.jpg"
        alt="pulverizacion_terrestre"
      />
    </Section>
    <!-- Aplicacion con Drones -->
    <Section
      color="white"
      title="Aplicacion con drones"
      id="drones"
      subtitle="Aplicación de insumos y monitoreo de cultivos con tecnología de punta."
    >
      <div slot="footer">
        <a
          class="text-sm text-white py-2 px-12 border-[3px] border-white rounded cursor-pointer hover:bg-white/30 hover:border-white/5 hover:backdrop-blur-3xl active:bg-white active:text-black transition-all duration-300"
          href="/servicios/drones/"><span>Ver más</span></a
        >
      </div>
      <img
        transition:name="img-drones"
        slot="background"
        class="object-left-top object-cover h-full w-full"
        src="/dron2.jpeg"
        alt="drones"
      />
    </Section>
    <!-- Otros Servicios -->
    <Section
      color="white"
      title="Otros servicios"
      id="otros"
      subtitle="Asesoramiento agronómico y servicios de campo a medida para optimizar tus resultados."
    >
      <div slot="footer">
        <a
          class="text-sm text-white py-2 px-12 border-[3px] border-white rounded cursor-pointer hover:bg-white/30 hover:border-white/5 hover:backdrop-blur-3xl active:bg-white active:text-black transition-all duration-300"
          href="/servicios/otros/"><span>Ver más</span></a
        >
      </div>
      <img
        transition:name="img-otros"
        slot="background"
        class="object-top object-cover h-full w-full"
        src="otros.jpg"
        alt="otros"
      />
    </Section>

    <!-- Footer -->
    <SectionFooter id="footer" color="white" />
  </main>
</LayoutLanding>
<script></script>
