---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="info">
  <section class="w-[90%] mx-auto">
    <h2 class="text-2xl font-semibold text-black text-left mt-8 ml-8">Info</h2>
  </section>
</Layout>
